.qrCodeScanner #loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
  }
  
  .qrCodeScanner #canvas {
    width: 100%;
  }
  
  .qrCodeScanner #output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
  }
  
  .qrCodeScanner #output div {
    padding-bottom: 10px;
    word-wrap: break-word;
  }
  
  .qrCodeScanner #noQRFound {
    text-align: center;
  }
  