body {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  padding: 40px; /* needed for the main screen por lo menos */
  text-rendering: optimizeLegibility;
}

body#mainScreen {
  background: #050043;
  color:#fff;
  font-size:31px
}

body#mainScreen #makeitbigger {
  background: #050043 url(./logo.png) no-repeat center top;
  background-size: contain;
  min-height: 50vh;
  margin-top: 10vh;
}

a {
  color: #00B7FF;
}
.text-center {
  text-align: center
}
.text-strike {
  text-decoration: line-through
}
.title {
  font-size:70px;
  line-height: 1.1  
}
.byline {
  font-size: 45px;
}

#priceBox {

}
#priceBox {
  margin-bottom:40px
}
#priceBox div {
  margin-top:60px;
  float: left;
  width: 50%;
  text-align: center;

}
#priceLeft {
  font-size: 61px;

}
#priceRight {
  font-size: 91px;
  color:#900
}

#aboutButton {
 
}
#aboutButton span {
  text-align: center;
  background: #050043;
  clear: both;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  color: #fff;
  /* font-weight: bold; */
  margin: 0 auto;
  font-size: 175px;
  line-height: 0.9;
  margin-bottom: 80px
}
#aboutButton span a {
color:#fff
}

#aboutContainer {

}
#aboutContainer ul {
  list-style: none;
  padding: 0;
}
#aboutContainer ul li {
  margin-bottom:25px;
  line-height: 1.2
}
#aboutContainer #aboutHeader {
  background:#050043;
  padding: 50px;
  margin: -40px -40px 0px -40px;
  color:#fff
}
#aboutContainer header {
  padding: 20px;
  border:2px solid #050043;
  border-width: 1px 0;
  margin:0 -40px 20px -40px;
  font-weight: bold;
}

#ncTitle .super  {
  font-size: 41px;
  margin-bottom: 0;
}
#ncTitle .calories  {
  font-size: 61px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}
#mainData ul li {
  border-bottom: 1px solid;
}
#mainData ul li#calcium {
  border: 0
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
